$ColorOrange: rgb(228, 150, 48);
$ColorOrangeActive: rgb(177, 119, 45);
$ColorOrangeHover: rgb(250, 158, 38);
$ColorOrangeShadow: rgb(252, 161, 42);
$ColorOrangeSequencer: rgb(211, 165, 105);

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wavefont&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');