@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wavefont&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #cacaca;
  font-family: "Signika Negative", sans-serif;
}
body #root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #root main {
  margin-top: 100px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 909px;
  background-color: rgb(49, 49, 49);
  padding: 20px;
  border-radius: 10px;
  border: solid 1px rgb(162, 162, 162);
  box-shadow: 0px 9px 17px #747474;
  margin-bottom: 50px;
  display: block;
}
.container__player {
  display: flex;
}
.container__player input {
  margin-top: 5px;
  color: white;
  margin-bottom: 10px;
}
.container__player:hover {
  background-color: rgb(250, 158, 38);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.container__flex__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.container__flex__list__row {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.container__flex__list__row__cell {
  cursor: pointer;
}
.container__flex__list__row__cell__input {
  border: 0px;
  -webkit-clip-path: rect(0px, 0px, 0px, 0px);
          clip-path: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  visibility: hidden;
}
.container__flex__list__row__cell__input:checked + .container__flex__list__row__cell__content {
  background-color: rgb(209, 153, 32);
}
.container__flex__list__row__cell__content {
  width: 20px;
  height: 40px;
  border-radius: 3px;
}
.container__flex__list__row__cell__content.gray-bg {
  background-color: rgb(172, 172, 172);
}
.container__flex__list__row__cell__content.red-bg {
  background-color: rgb(211, 165, 105);
}

.active__sequencer {
  display: none;
}

.active-step {
  background-color: rgb(255, 145, 0);
}

.sample__button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  width: 90px;
  height: 40px;
  cursor: pointer;
}
.sample__button:hover {
  background-color: rgb(255, 145, 0);
}
.sample__button:focus {
  outline: none;
}

.synth {
  min-height: 200px;
  width: 949px;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  border: solid 1px rgb(162, 162, 162);
  box-shadow: 0px 9px 17px #747474;
  display: none;
}
.synth hr {
  width: 90%;
}
.synth__head {
  color: white;
  margin-left: 20px;
}
.synth__head h1 {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  color: white;
  font-family: "Gugi", cursive;
}
.synth__head__show__effects {
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: rgb(228, 150, 48);
}
.synth__head__show__effects:hover {
  background-color: rgb(250, 158, 38);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__head__show__effects:active {
  background-color: rgb(177, 119, 45);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__head__options {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.synth__head__options div {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.synth__head__options div select {
  border: none;
  border-radius: 3px;
  width: 50px;
}
.synth__head__options__graph {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 415px;
  height: 150px;
}
.synth__head__options__graph__navbar {
  display: flex;
  position: absolute;
  top: -22px;
  width: 415px;
}
.synth__head__options__graph__navbar li:first-child {
  margin-left: 4px;
}
.synth__head__options__graph__navbar li:last-child {
  margin-left: 2px;
}
.synth__head__options__graph__navbar li a {
  text-decoration: none;
  color: black;
  background-color: rgb(228, 150, 48);
  padding: 4px;
  border-radius: 4px 4px 0px 0px;
}
.synth__head__options__graph__navbar li a:hover {
  background-color: rgb(250, 158, 38);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__head__options__graph__navbar li a:active {
  background-color: rgb(177, 119, 45);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__head__options__graph #envelope {
  width: 415px;
  height: 130px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(107, 107, 107, 0.2274509804);
  box-shadow: inset 0px 0px 5px 0px black;
}
.synth__head__options__graph #wavefrom {
  width: 415px;
  height: 130px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(107, 107, 107, 0.2274509804);
  box-shadow: inset 0px 0px 5px 0px black;
}
.synth__effect {
  display: flex;
  margin: 20px 20px 0px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.synth__effect .reverb-control,
.synth__effect .tremolo-control,
.synth__effect .distortion-control,
.synth__effect .chorus-control,
.synth__effect .delay-control,
.synth__effect .phaser-control {
  height: -moz-fit-content;
  height: fit-content;
  min-width: 150px;
  min-height: 132px;
  padding: 10px;
  background-color: rgb(162, 162, 162);
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.synth__effect .reverb-control:hover,
.synth__effect .tremolo-control:hover,
.synth__effect .distortion-control:hover,
.synth__effect .chorus-control:hover,
.synth__effect .delay-control:hover,
.synth__effect .phaser-control:hover {
  background-color: rgb(141, 141, 141);
}
.synth__effect .reverb-control h2,
.synth__effect .tremolo-control h2,
.synth__effect .distortion-control h2,
.synth__effect .chorus-control h2,
.synth__effect .delay-control h2,
.synth__effect .phaser-control h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.synth__effect .reverb-control button,
.synth__effect .tremolo-control button,
.synth__effect .distortion-control button,
.synth__effect .chorus-control button,
.synth__effect .delay-control button,
.synth__effect .phaser-control button {
  border: none;
  background-color: rgb(228, 150, 48);
  border-radius: 3px;
}
.synth__effect .reverb-control button:hover,
.synth__effect .tremolo-control button:hover,
.synth__effect .distortion-control button:hover,
.synth__effect .chorus-control button:hover,
.synth__effect .delay-control button:hover,
.synth__effect .phaser-control button:hover {
  background-color: rgb(250, 158, 38);
  box-shadow: rgb(252, 161, 42);
}
.synth__effect .reverb-control button:active,
.synth__effect .tremolo-control button:active,
.synth__effect .distortion-control button:active,
.synth__effect .chorus-control button:active,
.synth__effect .delay-control button:active,
.synth__effect .phaser-control button:active {
  background-color: rgb(177, 119, 45);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__effect .reverb-control div,
.synth__effect .tremolo-control div,
.synth__effect .distortion-control div,
.synth__effect .chorus-control div,
.synth__effect .delay-control div,
.synth__effect .phaser-control div {
  display: flex;
  justify-content: space-between;
}
.synth__effect .reverb-control div select,
.synth__effect .tremolo-control div select,
.synth__effect .distortion-control div select,
.synth__effect .chorus-control div select,
.synth__effect .delay-control div select,
.synth__effect .phaser-control div select {
  border: none;
  border-radius: 3px;
  width: 50px;
}
.synth__sequencer {
  overflow: hidden;
  margin-bottom: 20px;
}
.synth__sequencer__selector {
  margin: 0px 0px 20px 40px;
}
.synth__sequencer__selector__octave {
  color: white;
  margin-right: 20px;
}
.synth__sequencer__selector button {
  background-color: rgb(228, 150, 48);
  border-style: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}
.synth__sequencer__selector button:hover {
  background-color: rgb(250, 158, 38);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__sequencer__selector button:active {
  background-color: rgb(177, 119, 45);
  box-shadow: 0px 0px 6px 0px rgb(252, 161, 42);
}
.synth__sequencer__container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 0px 0px 20px 20px;
  overflow-y: scroll;
  height: 300px;
}
.synth__sequencer__container__track {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.synth__sequencer__container__track:first-child {
  margin-top: 5px;
}
.synth__sequencer__container__track:last-child {
  margin-bottom: 60px;
}
.synth__sequencer__container__track__note {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  width: 90px;
  border-radius: 0px 3px 3px 0px;
}
.synth__sequencer__container__track__step {
  cursor: pointer;
}
.synth__sequencer__container__track__step input {
  border: 0px;
  -webkit-clip-path: rect(0px, 0px, 0px, 0px);
          clip-path: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  visibility: hidden;
}
.synth__sequencer__container__track__step input:checked + .synth__sequencer__container__track__step__content {
  background-color: rgb(209, 153, 32);
}
.synth__sequencer__container__track__step select {
  width: 20px;
}
.synth__sequencer__container__track__step__content {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: rgb(172, 172, 172);
}
.synth__sequencer__container__track__step__content.gray-bg {
  background-color: rgb(172, 172, 172);
}
.synth__sequencer__container__track__step__content.red-bg {
  background-color: rgb(100, 150, 107);
}

.active__synth {
  display: block;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 50px;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: rgb(228, 150, 48);
  border-radius: 0.5rem;
  height: 8px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #6b6b6b;
  border-radius: 0px;
  height: 14px;
  width: 6px;
}
input[type=range]:hover::-webkit-slider-runnable-track {
  background-color: rgb(177, 119, 45);
}
input[type=range]:hover::-webkit-slider-thumb {
  background-color: #c7c7c7;
}

.synth__piano {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  background-color: #f0f0f0;
  overflow: hidden;
}

.piano-key {
  width: 20px;
  height: 100px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.piano-key:hover {
  background-color: rgb(126, 126, 126);
}
.piano-key:active {
  background-color: rgb(228, 150, 48);
}

.white__key {
  background-color: white;
}

.black__key {
  position: relative;
  width: 15px;
  height: 60px;
  margin: 40px -10px;
  background-color: black;
  z-index: 1;
}

.active {
  z-index: 2;
  box-shadow: 0 0 0 2px rgb(255, 196, 0);
  border-radius: 5px;
}/*# sourceMappingURL=app.css.map */