html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@mixin invisibleInput {
  border: 0px;
  clip-path: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}
.container {
  background-color: rgb(49, 49, 49);
  padding: 20px;
  border-radius: 10px;
  border: solid 5px rgb(162, 162, 162);
  &__player__onoff {
    border: none;
    background-color: rgb(143, 192, 143);
    border-radius: 3px;
    margin-bottom: 15px;
    &:hover {
      background-color: rgb(98, 146, 98);
    }
  }
  &__flex__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &__row {
      display: flex;
      column-gap: 5px;
      &__cell {
        $cell: &;
        cursor: pointer;
        &__input {
          @include invisibleInput();

          &:checked + #{$cell}__content {
            background-color: rgb(228, 22, 22);
          }
        }
        &__content {
          width: 20px;
          height: 40px;
          border-radius: 3px;

          &.gray-bg {
            background-color: rgb(172, 172, 172);
          }

          &.red-bg {
            background-color: rgb(100, 150, 107);
          }
        }
      }
    }
  }
}
.synth {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  width: 500px;
  background-color: rgb(100, 23, 23);
  border-radius: 10px;
  border: solid 5px rgb(106, 68, 68);
  hr {
    width: 90%;
  }
  &__head {
    h1 {
      font-size: 30px;
      margin: 10px;
      color: white;
    }
  }
  &__effect {
    display: flex;
    margin: 10px;
    width: 450px;
    overflow: hidden; /* Masque le contenu dépassant */
    overflow-x: scroll; /* Affiche toujours la barre de défilement verticale */
    .reverb-control,
    .tremolo-control {
      height: fit-content;
      min-width: 150px; /* Utilisez min-width au lieu de width */
      padding: 10px;
      background-color: rgb(167, 36, 36);
      border-radius: 10px;
      margin-right: 10px;
      margin-bottom: 15px;
      h2 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
      }
      input {
        width: 50px;
      }
    }
  }
}
